<html>
  <head>
    <title>Hello, ${class}</title>
  </head>
  <body>
    <h1>Hello, ${class}</h1>

    <p>
      My name is ${owner}, 
      and this server is running on private IP address ${private_ip}.
    </p>
  </body>
</html>
